:root {
  --minFont: 10;
  --maxFont: 16;
  --minScreen: 200;
  --maxScreen: 900;
}

html {
  font-size: calc(var(--minFont)*1px + (var(--maxFont) - var(--minFont)) * ((100vw - var(--minScreen)*1px) / (var(--maxScreen) - var(--minScreen))));
}

body {
  margin: 0;
  padding: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}





